@import url('https://fonts.googleapis.com/css?family=Marcellus&display=swap');
body{
	font-family: Roboto,sans-serif;
}
.header2{
	width: 80%;
	margin-left: 10%;
	margin-bottom: 50px;
}
.tittleshoppingcart{
	width: 100%;
	height: 30%;
	background-color: #fbf9f2;
	text-align: center;
}
.main-star{
	color: #333333;
	width: 100%;
	height: 50px;
}
#hr-star{
	width: 10%;
	float: left;
	margin-left: 35%;
}
#hr-star hr{
	margin-top: 2%;
	width: 100%;
	float: right;
}
#hr-star2{
	width: 10%;
	float: right;
	margin-right: 35%;
}
#hr-star2 hr{
	margin-top: 2%;
}
.set-star{
	width: 10%;
	float: left;
	margin-top: -1.5%;
}
#royalwine{
	color: #EAC47D;
	font-weight: bold;
	font-size: 35px;
	margin-bottom: 5px;
}
#product-details{
	font-family:;
	color: black;
	font-weight: bold;
	font-size: 50px;
	margin-top: 5px;
}
.main-shopping-cart{
	width: 80%;

	height: auto;
	max-height: auto;
	margin-left: 10%;
}
.product{
	background-color: white;
	width: 65%;
	padding: 5px;
	height: auto;
	max-height: auto;
	float: left;
	margin-bottom: 50px;
	border: 1px solid #eee;
}
.totalproduct{
	margin-top: 10px;
	margin-left: 20%;
}
.quantity{
	margin-left: 34%;
}
.price{
	margin-left: 10%;
}
.imgproduct img{
	margin-top: 5%;
	width: 50%;
	height: 99%;
	margin-left: 1%;
}
.imgproduct{
	text-align: center;
	float: left;
	width: 16.66666667%;
	height: 99%;
}
.inforproduct{
	border-bottom: 1px solid #eee;
	height: auto;
	float: left;
	width: 100%;
}
.nameproduct{
	height: 75.2px;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
	padding-top: 30px;
	width: 41.66666667%;
	float: left;
}
.nameproduct p{
	text-align: center;
	font-family: Marcellus,sans-serif;
	width: 100%;
}
.quantityshopping{
	height: 75.2px;
	padding-left: 3%;
	border-right: 1px solid #eee;
	width:13.66666667%;
	padding-top: 30px;
	float: left;
}
.quantityshopping input{
	width: 80%;
	background: #FDFDFD;
	border: 1px solid #eee;
	height: 40px;
	border-radius: 5px;
}
.priceproduct{
	height: 60.2px;
	border-right: 1px solid #eee;
	width: 16.66666667%;
	float: left;
	padding-top: 45px;
	text-align: center;
}
.removeproduct{
	padding-top: 45px;
	width: 7.33333%;
	float: left;
	text-align: center;
	cursor: pointer;
}

.discount-total{
	width: 27%;
	float: left;
	height: 100%;
	margin-left: 2.5%;
}
.discount-code {
	margin-top: 5px;
}
.discount-code b{
	font-family: Marcellus,sans-serif;
	float: left;
	width: 100%;
	font-size: 25px;
	font-height:600;
	color: #333333;
}
.discount-code hr{
	width: 20%;
	border: 1px solid #333;
	float: left;
}
.discount-code p{
	width: 100%;
	float: left;
	margin-top: 0px;
}
.discount-code input{
	border: 1px solid #eee;
    height: 40px;
    padding: 0px 15px;
    background: #fff;
    outline: none;
    width: 80%;
    border-radius: 0px;
    box-shadow: none;
    color: #333;
    margin-bottom: 15px;
}
.discount-code button{
	cursor: pointer;
    padding: 12px 20px;
    outline: none;
	background-color: #444!important;
    color: #fff!important;
    font-weight: 500;
    font-size: 15px;
    margin-top: 10px;
    border: 1px solid #444;
}
.borderdiscount{
	width: 100%;
	padding: 25px;
	border: 1px solid #eee;
	background-color: white;
}
.total{
	background-color: white;
	margin-top: 10px;
	border: 1px solid #eee;
	height: auto;
	float: left;
	width: 100%;
	padding: 25px;
}
.classtotal{
	margin-top: 5px;
	margin-left: 5%;
}
.classtotal b{
	color: #333;
	width: 100%;
	float: left;
	line-height: 1.2;
	font-family: Marcellus,sans-serif;
	font-size: 25px;
}
.classtotal hr{
	float: left;
	width: 25%;
	border: 1px solid #333;
}
.infortotal{
	width: 100%;
	float: left;
	margin-left: 5%;
}
.subtotal b{
	color: #333333;
	font-family: roboto,sans-serif;
	width: 40%;
	float: left;
}
.subtotal p{
	color: #333333;
	font-family: roboto,sans-serif;
	margin-top: 2px;
	width: 50%;
	float: left;
}
.shipcost b{
	color: #333333;
	font-family: roboto,sans-serif;
	width: 40%;
	float: left;
}
.shipcost p{
	color: #333333;
	font-family: roboto,sans-serif;
	margin-top: 2px;
	width: 50%;
	float: left;
}
.taxt b{
	color: #333333;
	font-family: roboto,sans-serif;	
	width: 40%;
	float: left;
}
.taxt p{
	color: #333333;
	font-family: roboto,sans-serif;	
	margin-top: 2px;
	width: 50%;
	float: left;
}	
.infortotal hr{
	float: left;
	width: 90%;
	margin-top: 0px;
	border-top: 1px solid #eee;
}
.total-full{
	margin-left: 5%;
}
.total-full b{
	color: #333333;
	font-family: roboto,sans-serif;	
	width: 40%;
	float: left;
}
.total-full p{
	color:#dc4c46;
	font-weight: 500;
	margin-top: 2px;
	width: 40%;
	margin-left: 5px;
	float: left;
	margin-bottom: 5px;

}
.buy{
	margin-left: 5%;
	width: 100%;
	margin-bottom: 10px;
}
.check-out{
	float: left;
}
.continue{
	float: right;
}
.check-out button{
	cursor: pointer;
    display: inline-block;
    padding: 12px 15px;
	background-color: #dc4c46!important;
    color: #fff!important;
    font-weight: 500;
    border: 1px solid #dc4c46;
    font-size: 15px;
    margin-top: 10px;
}
.continue button{
	cursor: pointer;
    padding: 12px 10px;
    outline: none;
    margin-top: 10px;
	background-color: #444!important;
    color: #fff!important;
    font-weight: 500;
    font-size: 15px;
    border: 1px solid #444;
}